h1.svelte-8od9u6,p.svelte-8od9u6{margin:0 auto}h1.svelte-8od9u6{font-size:2.8em;font-weight:700;margin:0 0 0.5em 0}p.svelte-8od9u6{margin:1em auto}@media(min-width: 480px){h1.svelte-8od9u6{font-size:4em}}
.app.svelte-1nhqst7{display:flex;flex-direction:row}section.svelte-1nhqst7{width:50%;display:inline;margin:0}
svg.svelte-zowdrv{width:100%
  }path.svelte-zowdrv{fill:green;cursor:pointer}path.svelte-zowdrv:hover,.selected.svelte-zowdrv{fill:orange}
li.svelte-1ikl2ae{display:none}li.visible.svelte-1ikl2ae{display:block}