@import "reset.css";

:root {
  --primary-dark: #111111;
  --primary-light: #eeeeee;
}

body {
  font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans",
    "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
  font-size: 18px;
  line-height: 1.5;
  color: var(--primary-dark);
  height: 100vh;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal,
    "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", sans-serif;
  line-height: 1.2;
  font-weight: 500;
  color: var(--primary-dark);
}

h1 {
  font-size: 4rem;
  text-transform: uppercase;

  @media (max-width: $mobileBp) {
    font-size: 3rem;
  }
}

a {
  color: inherit;
}

#app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
